<div class = "toolbar" role = "banner">
    <div class = "container">
        <img alt = "Logo" src = "assets/imgs/logo.png"/>
        <span>Lava Search</span>
        <div class = "spacer"></div>
        <a aria-label = "Angular on twitter" target = "_blank" rel = "noopener" href = "https://twitter.com/angular" title = "Twitter"></a>
    </div>
</div>
